# Prerequisites / deps
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables / build output
*.exe
*.out
*.app
bin/
build/
ncd-client
ncd-server
ncd-probe
main

# Runtime artifacts
received_config.json
config.txt

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# OS junk
.DS_Store
Thumbs.db
*.dSYM/

# Local / ephemeral configs
configs/smoke-ephemeral.json
configs/my-run.json

# Editor
.vscode/
.idea/
*~
*.swp

# Kernel module leftovers
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
